<!DOCTYPE html>
<!--
    Afaan Bilal's Portfolio
    https://afaan.dev
    (c) Afaan Bilal
-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Afaan Bilal &middot; Senior Software Development Engineer at Centiment</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,700" rel="stylesheet" />
    <link rel="shortcut icon" href="assets/Afaan.png" type="image/png">
    <style>.bg-hardware { background: linear-gradient(90deg, #3471cc 0%,#25a48b 100%); color: white; }</style>
    <style>
        .tech-stack-container {
            display: flex;
            flex-direction: column;
            overflow: hidden;
        }
        .tech-stack-container .tech-stack {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            margin-bottom: 45px;
        }
        .tech-stack-container .tech-stack-list {
            display: contents;
        }
        .tech-stack-container .tech-stack-list .tech-stack-item {
            width: 56px;
            margin: 10px 18px;
        }
    </style>
</head>
<body class="text-gray-700 bg-white" style="font-family: 'Source Sans Pro', sans-serif">

<!-- app --><div id="app">

<!-- Hero -->
<div class="pt-5 pb-10 md:py-32" style="background: linear-gradient(110deg, #672ba3 0%,#b3218e 100%)">
    <div class="container mx-auto px-6">
        <div class="flex justify-center items-center flex-wrap">
            <div class="py-5 mx-5 md:mx-10">
                <h2 class="text-6xl font-bold mb-2 text-white">Afaan Bilal</h2>
                <h3 class="text-1xl text-gray-200 hover:text-white">Senior Software Development Engineer at <a class="font-bold hover:underline" href="https://www.centiment.co" target="_blank" rel="noopener">Centiment</a></h3>
                <h3 class="text-1xl text-gray-200 hover:text-white">Bachelor of Technology in Civil Engineering from <a class="font-bold hover:underline" href="https://www.nitsri.ac.in" target="_blank" rel="noopener">National Institute of Technology, Srinagar</a></h3>
                <h3 class="text-1xl text-gray-200 hover:text-white">Co Founder at <a class="font-bold hover:underline" href="https://www.shmooze.io" target="_blank" rel="noopener">Shmooze</a></h3>
                <h3 class="text-1xl mb-4 text-gray-200 hover:text-white">Co Founder, CEO at <a class="font-bold hover:underline" href="https://www.alphamstudios.com" target="_blank" rel="noopener">Alpha Magnus Studios</a></h3>
            </div>
            <div class="py-5 md:mx-10">
                <img src="assets/Afaan.png" alt="Afaan Bilal" class="rounded-full md:float-right" />
            </div>
        </div>

        <div class="text-white text-2xl w-full text-center mb-14 flex justify-center mt-6">
            hello <img class="w-5 mx-1" src="assets/at.svg" alt="at" /> afaan <img class="w-2 mx-1 pt-2" src="assets/dot.svg" alt="dot" /> dev
        </div>

        <div class="flex justify-center mt-10">
            <div class="pr-4 md:pr-16"><a href="https://linkedin.com/in/AfaanBilal" target="_blank" rel="noopener"><img style="width: 32px;" src="assets/linkedin.svg" alt="linkedin" /></a></div>
            <div class="px-4 md:px-16"><a href="https://afaan.medium.com" target="_blank" rel="noopener"><img style="width: 32px;" src="assets/medium.svg" alt="medium" /></a></div>
            <div class="px-4 md:px-16"><a href="https://github.com/AfaanBilal" target="_blank" rel="noopener"><img style="width: 32px;" src="assets/github.svg" alt="github" /></a></div>
            <div class="px-4 md:px-16"><a href="https://twitter.com/AfaanBilal" target="_blank" rel="noopener"><img style="width: 32px;" src="assets/twitter.svg" alt="twitter" /></a></div>
            <div class="px-4 md:px-16"><a href="https://instagram.com/AfaanBilal" target="_blank" rel="noopener"><img style="width: 32px;" src="assets/instagram.svg" alt="instagram" /></a></div>
            <div class="pl-4 md:pl-16"><a href="https://facebook.com/AfaanBilal" target="_blank" rel="noopener"><img style="width: 32px;" src="assets/facebook.svg" alt="facebook" /></a></div>
        </div>
    </div>
</div>
<!-- / Hero -->

<!-- Nav -->
<nav class="bg-gray-100 py-5">
    <div class="flex flex-wrap justify-center">
        <div class="w-full flex justify-center mb-4 md:my-0 md:w-auto px-6 border-b md:border-b-0 md:border-r pb-4 md:py-0">
            <a href="#research-projects">Research Projects</a>
        </div>
        <div class="w-full flex justify-center mb-4 md:my-0 md:w-auto px-6 border-b md:border-b-0 md:border-r pb-4 md:py-0">
            <a href="#quick-links">Quick Links</a>
        </div>
        <div class="w-full flex justify-center mb-4 md:my-0 md:w-auto px-6 border-b md:border-b-0 md:border-r pb-4 md:py-0">
            <a href="#tech-stack">Tech Stack</a>
        </div>
        <div class="w-full flex justify-center mb-4 md:my-0 md:w-auto px-6 border-b md:border-b-0 md:border-r pb-4 md:py-0">
            <a href="#github-stats">GitHub Stats</a>
        </div>
        <div class="w-full flex justify-center mb-4 md:my-0 md:w-auto px-6 border-b md:border-b-0 md:border-r pb-4 md:py-0">
            <a href="#open-source">Open Source</a>
        </div>
        <div class="w-full flex justify-center mb-4 md:my-0 md:w-auto px-6 border-b md:border-b-0 md:border-r pb-4 md:py-0">
            <a href="#skills">Skills</a>
        </div>
        <div class="w-full flex justify-center mb-4 md:my-0 md:w-auto px-6">
            <a href="#contact">Contact</a>
        </div>
    </div>
</nav>
<!-- /Nav -->

<!-- Research Projects -->
<a name="research-projects"></a>
<section class="container mx-auto px-6 py-8">
    <h2 class="text-4xl font-bold text-center text-gray-800 my-10">Research Projects</h2>

    <div class="flex flex-wrap my-4 border-b py-4">
        <div class="w-full md:w-1/2 flex flex-wrap justify-center py-4">
            <div class="px-1 w-full md:w-1/2 flex justify-center">
                <img src="research/atvacs/A2-Detection-Recognition.png" class="rounded w-80 h-48 my-2 md:m-0" />
            </div>
            <div class="px-1 w-full md:w-1/2 flex justify-center">
                <img src="research/atvacs/A2-Classification-Counting.png" class="rounded w-80 h-48 my-2 md:m-0" />
            </div>
            <div class="px-1 w-full md:w-1/2 flex justify-center">
                <img src="research/atvacs/FGM-RTL.png" class="rounded w-80 h-48 my-2 md:m-0" />
            </div>
            <div class="px-1 w-full md:w-1/2 flex justify-center">
                <img src="research/atvacs/VD-RTL.png" class="rounded w-80 h-48 my-2 md:m-0" />
            </div>
        </div>
        <div class="w-full md:w-1/2 px-10 py-10 md:py-2">
            <p class="text-gray-600 font-bold mb-0">Bachelor of Technology in Civil Engineering</p>
            <p class="text-gray-600 mb-4">National Institute of Technology, Srinagar</p>

            <h3 class="text-3xl font-bold text-gray-800 my-2">ATVACS</h3>
            <p class="text-xl text-gray-800 mb-4">Automatic Traffic Volume Analysis and Classification System</p>
            <p class="mb-10">
                <span
                    v-for="item in ['Python', 'Computer Vision', 'Background Subtraction', 'Object Detection', 'Object Recognition', 'Machine Learning', 'Artificial Neural Networks', 'You Only Look Once (YOLO)']" :key="item" v-text="item"
                    style="background: linear-gradient(120deg, #fb8817, #ff4b01, #c12127, #e02aff)" class="text-white px-2 py-1 mr-2 mt-2 w-56 rounded block shadow hover:shadow-lg">
                </span>
            </p>
        </div>
    </div>

    <div class="flex flex-wrap my-4 py-4">
        <div class="w-full md:w-1/2 px-10 py-10 md:py-2">
            <p class="text-gray-600 font-bold mb-0">Bachelor of Technology in Civil Engineering</p>
            <p class="text-gray-600 mb-4">National Institute of Technology, Srinagar</p>

            <h3 class="text-3xl font-bold text-gray-800 my-2">Study of Impact on PCU</h3>
            <p class="text-xl text-gray-800 mb-4">Impact of Road Surface Conditions on the PCU of vehicle categories</p>
            <p class="mb-10">
                <span
                    v-for="item in ['PCU', 'Road Surface Conditions', 'Snowy Roads', 'Potholes', 'Car', 'LCV', 'Bus', 'Truck']" :key="item" v-text="item"
                    style="background: linear-gradient(120deg, #fb8817, #ff4b01, #c12127, #e02aff)" class="text-white px-2 py-1 mr-2 mt-2 w-56 rounded block shadow hover:shadow-lg">
                </span>
            </p>
        </div>
        <div class="w-full md:w-1/2 flex flex-wrap justify-center py-3">
            <div class="px-1 w-full flex justify-center">
                <img src="research/pcu/pcu_snow.png" class="rounded my-2 md:m-0" />
            </div>
            <div class="px-1 w-full flex justify-center">
                <img src="research/pcu/pcu_potholes.png" class="rounded my-2 md:m-0" />
            </div>
        </div>
    </div>
</section>
<!-- / Research Projects -->

<!-- Quick Links -->
<a name="quick-links"></a>
<div class="py-6" style="background: linear-gradient(270deg, #8034cc 0%,#991a79 100%)">
    <section class="container mx-auto px-6 p-10">
        <h2 class="text-4xl font-bold text-center mb-8 text-white">Quick Links</h2>
        <div class="pt-8 flex justify-center gap-4 flex-wrap text-white">
            <a href="/hyperdb-docs" target="_blank" rel="noopener">
                <div class="px-3 py-2 border rounded m-2">
                    <div class="text-center text-2xl font-bold">
                        HyperDB
                    </div>
                    An in-memory hyper-fast key-value store with an HTTP API written in Rust.
                </div>
            </a>
            <a href="/solid-talk" target="_blank" rel="noopener">
                <div class="px-3 py-2 border rounded m-2">
                    <div class="text-center text-2xl font-bold">
                        #solid-talk
                    </div>
                    A simple chatroom built using SolidJS and SocketIO.
                </div>
            </a>
            <a href="/pulse" target="_blank" rel="noopener">
                <div class="px-3 py-2 border rounded m-2">
                    <div class="text-center text-2xl font-bold">
                        Pulse
                    </div>
                    An experiment in reactivity.
                </div>
            </a>
            <a href="/parabolic-motion" target="_blank" rel="noopener">
                <div class="px-3 py-2 border rounded m-2">
                    <div class="text-center text-2xl font-bold">
                        Parabolic Motion
                    </div>
                    A simulation of parabolic motion under gravity.
                </div>
            </a>
            <a href="/game-of-life" target="_blank" rel="noopener">
                <div class="px-3 py-2 border rounded m-2">
                    <div class="text-center text-2xl font-bold">
                        Game of Life
                    </div>
                    A simulation of John Conway's Game of Life.
                </div>
            </a>
            <a href="/secure-message" target="_blank" rel="noopener">
                <div class="px-3 py-2 border rounded m-2">
                    <div class="text-center text-2xl font-bold">
                        Secure Message
                    </div>
                    A simple demo of symmetric encryption.
                </div>
            </a>
            <a href="/books-and-games" target="_blank" rel="noopener">
                <div class="px-3 py-2 border rounded m-2">
                    <div class="text-center text-2xl font-bold">
                        Books and Games
                    </div>
                    A list of books I've read and games I've played built with SolidJS and TailwindCSS.
                </div>
            </a>
        </div>
    </section>
</div>
<!-- / Quick Links -->

<!-- Tech Stack -->
<a name="tech-stack"></a>
<section class="container mx-auto px-6 py-12">
    <h2 class="text-4xl font-bold text-center my-10">Tech Stack</h2>
    <div class="content tech-stack-container">
        <div class="tech-stack" id="tech-stack-1">
            <div class="tech-stack-list">
                <img class="tech-stack-item" src="https://icongr.am/devicon/amazonwebservices-original.svg?size=96&color=currentColor" alt="Amazonwebservices" title="Amazonwebservices">
                <img class="tech-stack-item" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/digitalocean/digitalocean-original.svg" alt="Digitalocean" title="Digitalocean">
                <img class="tech-stack-item" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/firebase/firebase-plain.svg" alt="Firebase" title="Firebase">
                <img class="tech-stack-item" src="https://icongr.am/devicon/git-original.svg?size=96&color=currentColor" alt="Git" title="Git">
                <img class="tech-stack-item" src="https://icongr.am/devicon/github-original.svg?size=96&color=currentColor" alt="Github" title="Github">
                <img class="tech-stack-item" src="https://icongr.am/devicon/gitlab-original.svg?size=96&color=currentColor" alt="Gitlab" title="Gitlab">
                <img class="tech-stack-item" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/php/php-plain.svg" alt="PHP" title="PHP">
                <img class="tech-stack-item" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/composer/composer-original.svg" alt="Composer" title="Composer">
                <img class="tech-stack-item" src="https://icongr.am/devicon/laravel-plain.svg?size=96&color=ff2d20" alt="Laravel" title="Laravel">
                <img class="tech-stack-item" src="https://icongr.am/devicon/codeigniter-plain.svg?size=96&color=dd4814" alt="Codeigniter" title="Codeigniter">
                <img class="tech-stack-item" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/wordpress/wordpress-plain.svg" alt="Wordpress" title="Wordpress">
                <img class="tech-stack-item" src="https://icongr.am/devicon/mysql-original-wordmark.svg?size=96&color=currentColor" alt="Mysql" title="Mysql">
                <img class="tech-stack-item" src="https://icongr.am/devicon/redis-original.svg?size=96&color=currentColor" alt="Redis" title="Redis">
                <img class="tech-stack-item" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linux/linux-original.svg" alt="Linux" title="Linux">
                <img class="tech-stack-item" src="https://icongr.am/devicon/ubuntu-plain.svg?size=96&color=e95420" alt="Ubuntu" title="Ubuntu">
                <img class="tech-stack-item" src="https://icongr.am/devicon/windows8-original.svg?size=96&color=currentColor" alt="Windows8" title="Windows8">
                <img class="tech-stack-item" src="https://icongr.am/devicon/apple-original.svg?size=96&color=currentColor" alt="Apple" title="Apple">
                <img class="tech-stack-item" src="https://icongr.am/devicon/android-original.svg?size=96&color=currentColor" alt="Android" title="Android">
                <img class="tech-stack-item" src="https://icongr.am/devicon/docker-original.svg?size=96&color=currentColor" alt="Docker" title="Docker">
                <img class="tech-stack-item" src="https://afaan.dev/assets/traefik-icon.svg" alt="Traefik" title="Traefik">
                <img class="tech-stack-item" src="https://afaan.dev/assets/cloudflare.svg" alt="Cloudflare" title="Cloudflare">
                <img class="tech-stack-item" src="https://icongr.am/devicon/html5-original.svg?size=96&color=currentColor" alt="Html5" title="Html5">
                <img class="tech-stack-item" src="https://icongr.am/devicon/css3-original.svg?size=96&color=currentColor" alt="Css3" title="Css3">
                <img class="tech-stack-item" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/sass/sass-original.svg" alt="SASS" title="SASS">
                <img class="tech-stack-item" src="https://icongr.am/devicon/bootstrap-plain.svg?size=96&color=7952b3" alt="Bootstrap" title="Bootstrap">
                <img class="tech-stack-item" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/tailwindcss/tailwindcss-plain.svg" alt="Tailwind" title="Tailwind">
                <img class="tech-stack-item" src="https://icongr.am/devicon/javascript-original.svg?size=96&color=currentColor" alt="Javascript" title="Javascript">
                <img class="tech-stack-item" src="https://icongr.am/devicon/typescript-original.svg?size=96&color=currentColor" alt="Typescript" title="Typescript">
                <img class="tech-stack-item" src="https://icongr.am/devicon/nodejs-original.svg?size=96&color=currentColor" alt="NodeJS" title="NodeJS">
                <img class="tech-stack-item" src="https://icongr.am/devicon/express-original-wordmark.svg?size=96&color=currentColor" alt="Express" title="Express">
                <img class="tech-stack-item" src="https://icongr.am/devicon/sequelize-original.svg?size=96&color=currentColor" alt="Sequelize" title="Sequelize">
                <img class="tech-stack-item" src="https://www.solidjs.com/assets/logo-123b04bc.svg" alt="SolidJS" title="SolidJS">
                <img class="tech-stack-item" src="https://icongr.am/devicon/vuejs-original.svg?size=96&color=currentColor" alt="VueJS" title="VueJS">
                <img class="tech-stack-item" src="https://icongr.am/devicon/react-original.svg?size=96&color=currentColor" alt="React" title="React">
                <img class="tech-stack-item" src="https://afaan.dev/assets/react-native.svg" alt="React Native" title="React Native">
                <img class="tech-stack-item" src="https://afaan.dev/assets/expo.svg" alt="Expo" title="Expo">
                <img class="tech-stack-item" src="https://afaan.dev/assets/zapier.svg" alt="Zapier" title="Zapier">
                <img class="tech-stack-item" src="https://icongr.am/devicon/jquery-original.svg?size=96&color=currentColor" alt="Jquery" title="Jquery">
                <img class="tech-stack-item" src="https://icongr.am/devicon/python-original.svg?size=96&color=currentColor" alt="Python" title="Python">
                <img class="tech-stack-item" src="https://icongr.am/devicon/c-original.svg?size=96&color=currentColor" alt="C" title="C">
                <img class="tech-stack-item" src="https://icongr.am/devicon/cplusplus-original.svg?size=96&color=currentColor" alt="Cplusplus" title="Cplusplus">
                <img class="tech-stack-item" src="https://icongr.am/devicon/csharp-original.svg?size=96&color=currentColor" alt="Csharp" title="Csharp">
                <img class="tech-stack-item" src="https://icongr.am/devicon/java-original.svg?size=96&color=currentColor" alt="Java" title="Java">
                <img class="tech-stack-item" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/dot-net/dot-net-plain-wordmark.svg" alt="DotNet" title="DotNet">
                <img class="tech-stack-item" src="https://icongr.am/devicon/apache-original.svg?size=96&color=currentColor" alt="Apache" title="Apache">
                <img class="tech-stack-item" src="https://icongr.am/devicon/ssh-original-wordmark.svg?size=96&color=currentColor" alt="Ssh" title="Ssh">
                <img class="tech-stack-item" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/inkscape/inkscape-original.svg" alt="Inkscape" title="Inkscape">
                <img class="tech-stack-item" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/bash/bash-original.svg" alt="Bash" title="Bash">
                <img class="tech-stack-item" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/vscode/vscode-original.svg" alt="Vscode" title="Vscode">
                <img class="tech-stack-item" src="https://icongr.am/devicon/visualstudio-plain.svg?size=96&color=currentColor" alt="Visualstudio" title="Visualstudio">
                <img class="tech-stack-item" src="https://afaan.dev/assets/postman.svg" alt="Postman" title="Postman">
                <img class="tech-stack-item" src="https://www.devart.com/images/products/logos/dbforge-mysql-studio.svg" alt="DbForge Studio" title="DbForge Studio">
                <img class="tech-stack-item" src="https://icongr.am/devicon/trello-plain.svg?size=96&color=026aa7" alt="Trello" title="Trello">
                <img class="tech-stack-item" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/figma/figma-original.svg" alt="Figma" title="Figma">
                <img class="tech-stack-item" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/slack/slack-original.svg" alt="Slack" title="Slack">
            </div>
        </div>
    </div>
</section>

<!-- GitHub stats -->
<a name="github-stats"></a>
<div class="py-5" style="background: linear-gradient(270deg, #8034cc 0%,#991a79 100%)">
    <section class="container mx-auto px-6 p-10">
        <h2 class="text-4xl font-bold text-center mb-5 text-white">GitHub Stats</h2>
        <div class="flex justify-center flex-wrap">
            <div class="w-full md:w-1/3 py-4 flex justify-center">
                <img src="https://github-readme-stats-git-masterrstaa-rickstaa.vercel.app/api?username=AfaanBilal&show_icons=true&include_all_commits=true&count_private=true&custom_title=GitHub+Stats" alt="github stats" />
            </div>
            <div class="w-full md:w-1/3 py-4 flex justify-center">
                <img src="https://github-readme-stats-git-masterrstaa-rickstaa.vercel.app/api/top-langs/?username=AfaanBilal&layout=compact&langs_count=10" alt="github top languages" />
            </div>
            <div class="w-full md:w-1/3 py-4 flex justify-center">
                <img src="https://github-readme-streak-stats.herokuapp.com?user=AfaanBilal&theme=default" alt="github streak" />
            </div>
        </div>
        <div class="flex justify-center flex-wrap">
            <div class="w-full py-4 flex justify-center">
                <img style="width: 100%" src="https://github-profile-trophy.vercel.app/?username=AfaanBilal&column=-1&margin-w=50&margin-h=50" alt="github trophies" />
            </div>
        </div>
    </section>
</div>
<!-- / GitHub stats -->

<!-- Open source -->
<a name="open-source"></a>
<section class="container mx-auto px-6 p-10">
    <h2 class="text-4xl font-bold text-center text-gray-800 mt-10 mb-4">Open source projects</h2>
    <p class="text-xl text-center text-gray-500 mb-16">{{ repos.length }} repositories</p>

    <div class="grid gap-10 grid-cols-1 md:grid-cols-2 lg:grid-cols-3 mb-10">

        <div class="border shadow hover:shadow-2xl border-l-4 rounded border-purple-600 p-3 pl-5" v-for="r in repos" :key="r.id">
            <a :href="'project.html#' + r.full_name" class="hover:underline">
                <h4 class="text-2xl text-gray-800 font-bold mb-3" v-text="r.name.split('-').join(' ').toTitleCase()"></h4>
            </a>
            <div class="text-gray-700">
                {{ r.description }}

                <div class="mt-4">
                    <span v-show="r.stargazers_count" style="background: linear-gradient(90deg, #8034cc 0%,#991a79 100%)" class="text-white px-2 py-1 rounded" v-text="'⭐ ' + r.stargazers_count"></span>
                    <span v-show="r.stargazers_count" class="mx-2">&middot;</span>

                    <span v-show="r.language" style="background: linear-gradient(90deg, #8034cc 0%,#991a79 100%)" class="text-white px-2 py-1 rounded" v-text="r.language"></span>
                    <span v-show="r.language" class="mx-2">&middot;</span>

                    <a v-show="r.homepage" :href="r.homepage" target="_blank" rel="noopener" class="underline">Homepage</a>
                    <span v-show="r.homepage" class="mx-2">&middot;</span>

                    <a :href="r.html_url" target="_blank" rel="noopener" class="underline">Source code</a>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- / Open source -->

<!-- separator -->
<div class="py-5" style="background: linear-gradient(270deg, #8034cc 0%,#991a79 100%)">
    <section class="container mx-auto p-2"></section>
</div>
<!-- / separator -->

<!-- Skills -->
<a name="skills"></a>
<section class="container mx-auto px-6 p-5">
    <div v-for="(t, i) in skillTypes" :key="t" class="mb-10 pt-10 md:mx-36" :class="{'border-t': i}">
        <h3 class="text-2xl font-bold text-center text-gray-800 mb-5">{{ getPlural(t) }}</h3>
        <div class="md:mx-20 flex flex-wrap justify-center">
            <a :href="s.link" target="_blank" rel="noopener" v-for="s in skills.filter(s => s.type == t)" :key="s.name">
                <span :style="'background: ' + getBackground(s.type)" class="text-white px-2 py-1 rounded m-2 inline-block shadow hover:shadow-lg" v-text="s.name"></span>
            </a>
        </div>
    </div>
</section>
<!-- / Skills -->

<!-- Contact -->
<a name="contact"></a>
<div class="py-5" style="background: linear-gradient(270deg, #8034cc 0%,#991a79 100%)">
    <section class="container mx-auto px-6 p-10">
        <h2 class="text-4xl font-bold text-center mb-8 text-white">Let's talk!</h2>

        <div class="flex justify-center my-2" v-show="sent">
            <div class="alert flex flex-row items-center bg-green-200 p-2 rounded border-b-2 border-green-300 w-64">
                <div class="alert-icon flex items-center bg-green-100 border-2 border-green-500 justify-center h-10 w-10 flex-shrink-0 rounded-full">
                    <span class="text-green-500">
                        <svg fill="currentColor" viewBox="0 0 20 20" class="h-6 w-6">
                            <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
                        </svg>
                    </span>
                </div>
                <div class="alert-content ml-4">
                    <div class="alert-title font-semibold text-lg text-green-800">Success</div>
                    <div class="alert-description text-sm text-green-600">Message sent!</div>
                </div>
            </div>
        </div>

        <div class="flex justify-center my-2" v-show="sending">
            <div class="alert flex flex-row items-center bg-green-200 p-2 rounded border-b-2 border-green-300 w-64">
                <div class="alert-content ml-4">
                    <div class="alert-title text-lg text-green-800">Sending...</div>
                </div>
            </div>
        </div>

        <form v-on:submit.prevent="sendMessage">
            <div class="flex justify-center flex-wrap">
                <div class="mt-8 text-center w-full md:w-1/2">
                    <div class="flex flex-wrap justify-between">
                        <div class="w-full md:w-1/2 md:pr-1">
                            <input required class="w-full bg-gray-200 focus:bg-white text-gray-900 mt-2 p-3 rounded focus:outline-none focus:shadow-outline" type="text" placeholder="Name" v-model="name">
                        </div>
                        <div class="w-full md:w-1/2 md:pl-1">
                            <input required class="w-full bg-gray-200 focus:bg-white text-gray-900 mt-2 p-3 rounded focus:outline-none focus:shadow-outline" type="email" placeholder="Email" v-model="email">
                        </div>
                    </div>
                    <div class="mt-2">
                        <textarea required rows="5" class="w-full h-32 bg-gray-200 focus:bg-white text-gray-900 mt-2 p-3 rounded focus:outline-none focus:shadow-outline" placeholder="Message" v-model="message"></textarea>
                    </div>
                    <div class="mt-2">
                        <button type="submit" class="uppercase text-sm font-bold tracking-wide bg-purple-500 hover:bg-purple-600 text-gray-100 p-3 rounded w-full md:w-1/4 focus:outline-none focus:shadow-outline">Send Message</button>
                    </div>
                </div>
            </div>
        </form>
    </section>
</div>
<!-- / Contact -->

<!-- Footer -->
<footer class="bg-gray-100">
    <div class="container mx-auto px-6 pt-10 pb-6">
        <div class="flex flex-wrap">
            <div class="w-full md:w-1/2 text-center md:text-left">
                <h5 class="uppercase mb-6 font-bold">Links</h5>
                <ul class="mb-4">
                    <li class="mt-2">
                        <a href="https://github.com/AfaanBilal" class="text-gray-600 hover:text-purple-500" target="_blank" rel="noopener">GitHub</a>
                    </li>
                    <li class="mt-2">
                        <a href="https://linkedin.com/in/AfaanBilal" class="text-gray-600 hover:text-purple-500" target="_blank" rel="noopener">LinkedIn</a>
                    </li>
                    <li class="mt-2">
                        <a href="https://afaan.medium.com" class="text-gray-600 hover:text-purple-500" target="_blank" rel="noopener">Medium</a>
                    </li>
                </ul>
            </div>
            <div class="w-full md:w-1/2 text-center md:text-left">
                <h5 class="uppercase mb-6 font-bold">Social</h5>
                <ul class="mb-4">
                    <li class="mt-2">
                        <a href="https://instagram.com/AfaanBilal" class="text-gray-600 hover:text-purple-500" target="_blank" rel="noopener">Instagram</a>
                    </li>
                    <li class="mt-2">
                        <a href="https://twitter.com/AfaanBilal" class="text-gray-600 hover:text-purple-500" target="_blank" rel="noopener">Twitter</a>
                    </li>
                    <li class="mt-2">
                        <a href="https://facebook.com/AfaanBilal" class="text-gray-600 hover:text-purple-500" target="_blank" rel="noopener">Facebook</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!-- / Footer -->

<div class="text-center text-white py-2" style="background: linear-gradient(110deg, #672ba3 0%,#b3218e 100%)">
    Copyright &copy; Afaan Bilal
</div>

</div><!-- /app -->

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script> -->
<script src="assets/main.js"></script>
</body>
</html>
