<!DOCTYPE html>
<!-- 
    Afaan Bilal's Portfolio 
    https://afaan.dev
    (c) Afaan Bilal
-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Afaan Bilal &middot; Senior Software Development Engineer at Centiment</title>
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@next/dist/tailwind.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,700" rel="stylesheet" />
    <link rel="shortcut icon" href="assets/Afaan.png" type="image/png">
</head>
<body class="text-gray-700 bg-white" style="font-family: 'Source Sans Pro', sans-serif">

<!-- app --><div id="app">

<!-- Hero -->
<div class="py-20 md:pt-20 md:pb-40" style="background: linear-gradient(110deg, #672ba3 0%,#b3218e 100%)">    
    <div class="container mx-auto px-6">
        
        <h3 class="flex justify-center py-2">
            <div>
                <a href="/" class="font-bold text-white hover:underline text-xl"><img class="w-16 transform rotate-180" src="assets/arrow.svg" alt="back" /></a></a>
            </div>
        </h3>

        <div class="flex justify-center items-center flex-wrap">
            <div class="py-5 mx-5 md:mx-10">
                <h2 class="text-6xl font-bold mb-2 text-white" v-text="repoTitle"></h2>
                <h3 class="text-1xl text-gray-200 hover:text-white" v-text="repo.description"></h3>
                <h3 class="text-1xl text-gray-200 hover:text-white">
                    <a v-show="repo.homepage" :href="repo.homepage" class="font-bold hover:underline" target="_blank" rel="noopener">Homepage</a>
                    <span class="mx-2" v-show="repo.homepage">&middot;</span>
                    <a v-show="repo.html_url" :href="repo.html_url" class="font-bold hover:underline" target="_blank" rel="noopener">Source code</a>
                </h3>
            </div>
            <div class="py-5 md:mx-10">
                <a :href="repo.html_url" target="_blank" rel="noopener"><img class="w-32" src="assets/github.svg" alt="github" /></a>
            </div>
        </div>

        <div class="text-white text-2xl w-full text-center mb-14 flex justify-center mt-6">
            hello <img class="w-5 mx-1" src="assets/at.svg" alt="at" /> afaan <img class="w-2 mx-1 pt-2" src="assets/dot.svg" alt="dot" /> dev
        </div>
        
        <div class="flex justify-center mt-10">
            <div class="pr-4 md:pr-16"><a href="https://linkedin.com/in/AfaanBilal" target="_blank" rel="noopener"><img style="width: 32px;" src="assets/linkedin.svg" alt="linkedin" /></a></div>
            <div class="px-4 md:px-16"><a href="https://medium.com/@AfaanBilal" target="_blank" rel="noopener"><img style="width: 32px;" src="assets/medium.svg" alt="medium" /></a></div>
            <div class="px-4 md:px-16"><a href="https://github.com/AfaanBilal" target="_blank" rel="noopener"><img style="width: 32px;" src="assets/github.svg" alt="github" /></a></div>
            <div class="px-4 md:px-16"><a href="https://twitter.com/AfaanBilal" target="_blank" rel="noopener"><img style="width: 32px;" src="assets/twitter.svg" alt="twitter" /></a></div>
            <div class="px-4 md:px-16"><a href="https://instagram.com/AfaanBilal" target="_blank" rel="noopener"><img style="width: 32px;" src="assets/instagram.svg" alt="instagram" /></a></div>
            <div class="pl-4 md:pl-16"><a href="https://facebook.com/AfaanBilal" target="_blank" rel="noopener"><img style="width: 32px;" src="assets/facebook.svg" alt="facebook" /></a></div>
        </div>
    </div>
</div>
<!-- / Hero -->

<!-- Language -->
<section class="container mx-auto py-10">
    <div class="mb-10 pt-10 md:mx-36">
        <h3 class="text-2xl font-bold text-center text-gray-800 mb-5">Languages</h3>
        <div class="md:mx-20 flex flex-wrap justify-center">
            <span 
                v-for="l in languages"
                :key="l"
                v-text="l"
                style="background: linear-gradient(139deg, #fb8817, #ff4b01, #c12127, #e02aff)" class="text-white px-2 py-1 rounded m-2 inline-block shadow hover:shadow-lg">
            </span>
        </div>
    </div>
</section>
<!-- / Language -->

<!-- GitHub stats -->
<div class="py-5" style="background: linear-gradient(270deg, #8034cc 0%,#991a79 100%)">
    <section class="container mx-auto px-6 p-10">
        <h2 class="text-4xl font-bold text-center mb-5 text-white">GitHub Stats</h2>
        <div class="flex justify-center flex-wrap">
            <div class="w-full py-4 flex justify-center" v-if="repo.full_name">
                <img :src="'https://github-readme-stats.vercel.app/api/pin/?username=' + repo.full_name.split('/')[0] + '&repo=' + repo.name" alt="github stats" />
            </div>
        </div>
    </section>
</div>
<!-- / GitHub stats -->

<!-- Readme -->
<section class="container mx-auto py-10">
    <h2 class="text-4xl font-bold text-center mb-5">Readme</h2>
    <div class="text-gray-800 justify-center flex">
        <div id="readme">
            <pre v-html="readmeHtml"></pre>
        </div>
    </div>
</section>
<!-- / Readme -->

<!-- License -->
<div class="py-5" style="background: linear-gradient(270deg, #8034cc 0%,#991a79 100%)">
    <section class="container mx-auto px-6 p-10">
        <h2 class="text-4xl font-bold text-center mb-5 text-white">License</h2>
        <div class="text-white justify-center flex">
            <div id="license">
                <pre v-html="licenseHtml"></pre>
            </div>
        </div>
    </section>
</div>
<!-- / License -->

<!-- Footer -->
<footer class="bg-gray-100">
    <div class="container mx-auto px-6 pt-10 pb-6">
        <div class="flex flex-wrap">
            <div class="w-full md:w-1/2 text-center md:text-left">
                <h5 class="uppercase mb-6 font-bold">Links</h5>
                <ul class="mb-4">
                    <li class="mt-2">
                        <a href="https://github.com/AfaanBilal" class="text-gray-600 hover:text-purple-500" target="_blank" rel="noopener">GitHub</a>
                    </li>
                    <li class="mt-2">
                        <a href="https://linkedin.com/in/AfaanBilal" class="text-gray-600 hover:text-purple-500" target="_blank" rel="noopener">LinkedIn</a>
                    </li>
                    <li class="mt-2">
                        <a href="https://medium.com/@AfaanBilal" class="text-gray-600 hover:text-purple-500" target="_blank" rel="noopener">Medium</a>
                    </li>
                </ul>
            </div>
            <div class="w-full md:w-1/2 text-center md:text-left">
                <h5 class="uppercase mb-6 font-bold">Social</h5>
                <ul class="mb-4">
                    <li class="mt-2">
                        <a href="https://instagram.com/AfaanBilal" class="text-gray-600 hover:text-purple-500" target="_blank" rel="noopener">Instagram</a>
                    </li>
                    <li class="mt-2">
                        <a href="https://twitter.com/AfaanBilal" class="text-gray-600 hover:text-purple-500" target="_blank" rel="noopener">Twitter</a>
                    </li>
                    <li class="mt-2">
                        <a href="https://facebook.com/AfaanBilal" class="text-gray-600 hover:text-purple-500" target="_blank" rel="noopener">Facebook</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!-- / Footer -->

<div class="text-center text-white py-2" style="background: linear-gradient(110deg, #672ba3 0%,#b3218e 100%)">
    Copyright &copy; Afaan Bilal
</div>

</div><!-- /app -->

<style type="text/css">
#readme h1, h2, h3, h4 {
    color: #111111;
    font-weight: 500;
}
#readme h1, h2, h3, h4, h5, p {
    margin-bottom: 12px;
    padding: 0;
}
#readme h1 {
    font-size: 28px;
}
#readme h2 {
    font-size: 24px;
    margin: 12px 0 6px;
}
#readme h3 {
    font-size: 20px;
}
#readme h4 {
    font-size: 18px;
}
#readme h5 {
    font-size: 16px;
}
#readme a {
    color: #0099ff;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
#readme ul, ol {
    padding: 0;
    margin: 0;
}
#readme li {
    line-height: 24px;
}
#readme li ul, li ul {
    margin-left: 24px;
}
#readme p, ul, ol {
    font-size: 14px;
    line-height: 22px;
}
#readme pre {
    padding: 0px 24px;
    white-space: pre-wrap;
    max-width: 700px;
}
#readme code {
    font-family: Consolas, Monaco, Andale Mono, monospace;
    line-height: 1.5;
    font-size: 13px;
}
#readme aside {
    display: block;
    float: right;
    width: 390px;
}
#readme blockquote {
    margin: 1em 2em;
    max-width: 476px;
}
#readme blockquote p {
    color: #666;
    max-width: 460px;
}
#readme hr {
    width: 540px;
    text-align: left;
    margin: 0 auto 0 0;
    color: #999;
}
</style>

<script src="https://unpkg.com/showdown/dist/showdown.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/vue@2"></script> -->
<script src="assets/project.js"></script>
</body>
</html>
